<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Username Validator</title>
    <style>
    #red-box{
        background: red;
        color: whitesmoke;
    }
    </style>
</head>
<body>
    <div id="red-box">
        <h1>{{message}}</h1>
    </div>
    <form action="submit" method="post">
        {% csrf_token %}
        <div>
            <label for="name">Username:</label>
            <input type="text" name="name">
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>